* {
  margin: 0;
  padding: 0;
  box-sizing: border-box 
}



body {
  background-image: url('https://25.media.tumblr.com/tumblr_m8m5x46qjM1qdc388o1_500.gif');
  background-size: auto 100vh;
  font-family: Arial;
  height: 100vh;
}

.menu {
  background-color: magenta; 
} 

.menu li {
  list-style: none;
}
.menu ul { display: flex;
justify-content: space-around}
a {
  color: black;
  text-decoration: none;
}

a: hover {underline; 
  }
.site-subtitle,
.site-title {
  color: whitesmoke;
  text-align: center;
}
.site-subtitle {
  Font-style: italic;
}

